@media (max-width: 1100px) {
  .abt-turo {
    flex-direction: column;
    margin-left: 5%;
  }

  .car-img {
    -webkit-box-shadow: 0px 0px 18px 26px #faf0fe;
    box-shadow: 0px 0px 18px 26px #faf0fe;
  }
  .text {
    flex-direction: row;
    justify-content: space-between;
    margin-top: 25px;
    gap: 55px;

    h1 {
      width: 275px;
    }

    p {
      width: 115px;
      margin-top: 30px;
    }
  }

  .team-contents {
    flex-direction: column;
  }

  .meet {
    align-items: center;
  }
}

@media (min-width: 1101px) {
  .abt-turo {
    flex-direction: row;
  }

  .car-img {
    -webkit-box-shadow: 140px 30px 2px 0px #faf4fe;
    box-shadow: 140px 35px 2px 0px #faf4fe;
  }
  .text {
    width: 273px;
    flex-direction: column;
  }

  .team-contents {
    flex-direction: row;
  }
}

.about {
  -webkit-font-smoothing: antialiased;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
  scroll-behavior: smooth;
  width: 100vw;
  color: #121214;
  margin: 0;
  padding: 0;
  font-family: RlBasisGrotesque, Avenir, Helvetica Neue, Helvetica, sans-serif;
}

.abt-turo {
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
  gap: 5%;

  .car-img {
    width: 548px;
    height: 309px;
    border-radius: 5px;

    img {
      height: 100%;
      width: 100%;
    }
  }

  .text {
    display: flex;
    h1 {
      font-family: RlFreight, HoeflerText-Black, Times New Roman, serif;
      font-size: 68px;
      font-weight: 900;
      line-height: 72px;
    }

    p {
      font-size: 18px;
      font-weight: 400;
      line-height: 24px;
    }
  }
}

.about-contents {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.find-drive {
  width: 90vw;
  text-align: center;
  justify-content: center;
  display: flex;
  margin-top: 100px;

  .fd1 {
    width: 100%px;
    margin: 0;

    text-align: left;
    h2 {
      font-size: 51px;
      font-weight: 900;
      letter-spacing: -0.5px;
      line-height: 25px;
      font-family: RlFreight, HoeflerText-Black, Times New Roman, serif;
    }

    p {
      font-size: 16px;
      font-weight: 400;
      font-family: RlFreight, Avenir, Helvetica Neue, Helvetica, sans-serif;
    }
  }
}

.pt1 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.plan-trip {
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 100px;

  .pttext {
    display: flex;
    flex-direction: column;

    text-align: center;
    padding: 15px;

    p1 {
      font-size: 27px;
      font-weight: 500;
      padding: 5px;
      font-family: Rubik, sans-serif;
    }
    p2 {
      font-size: 40px;
      font-weight: 900;
      padding: 10px;
      font-family: Rubik, sans-serif;
    }
  }

  .pln-logo {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 70vw;
    margin-top: 70px;
    flex-wrap: wrap;
    gap: 35px;

    img {
      height: 83px;
      width: 83px;
    }

    .pln {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 250px;

      .pln-label {
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 10px;
        padding: 15px;
        padding-left: 0;

        p1 {
          font-size: 42px;
          font-weight: 600;
        }
        p2 {
          font-size: 20px;
          font-weight: 500;
        }
      }
    }
  }
}

.team {
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 120px;

  .team-contents {
    display: flex;
    width: 60vw;
  }
  .threecars {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .meet {
    display: flex;
    flex-direction: column;
    p1 {
      font-size: 37px;
      font-weight: 700;
      line-height: 55px;
    }
    p2 {
      font-size: 19px;
      margin-top: 25px;
      width: 90%;
      min-width: 45%;
    }

    button {
      background-color: #593cfb;
      border: 0;
      width: fit-content;
      border-radius: 5px;
      height: 50px;
      padding: 0 25px;
      margin: 18px 0;
      transition: all 0.3s ease-out;
      text-align: center;
      align-items: center;
      display: flex;
      justify-content: center;

      p {
        text-decoration: none !important;
        color: #ffffff;
        font-size: 18px;
        font-weight: 600;
      }
    }

    button:hover {
      text-decoration: none;
      background-color: #470ab4;
      cursor: pointer;
    }
  }
}

.ghgh {
  text-decoration: none;
}

.touch {
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 70px;
  margin-bottom: -10px;
  color: #faf4fe;

  .touch-conntents {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    width: 62vw;

    p {
      align-items: center;
      font-size: 30px;
      font-weight: 600;
    }
  }

  .phicn {
    display: flex;
    align-items: center;
    color: #ff4d30;
    margin-top: -30px;
    gap: 15px;
    p {
      font-size: 31px;
      font-weight: 700;
      width: fit-content;
      padding-right: 60px;
    }
    flex-direction: row;
  }
}

.phicn p:hover {
  text-decoration: underline;
  cursor: pointer;
}
