.home--page {
  -webkit-font-smoothing: antialiased;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
  scroll-behavior: smooth;
  width: 100vw;
  color: #121214;
}

.home--search {
  display: flex;
  justify-content: center;

  img {
    width: 100vw;
    position: relative;
  }
}

.search--container {
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  position: absolute;
  align-items: center;
  display: flex;
  justify-content: center;
  margin-top: 1%;
}

.search--home {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: #fff;
  padding: 3px;
  max-width: 80vw;
  width: 53vw;
  border-radius: 100px;
  height: 56px;
  box-shadow: 0 4px 8px 0 rgb(0 0 0 / 14%);
}

.search {
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: center;
  flex: 0 1 auto;
  margin: 0 auto;
  padding: 8px;
  border: 0;
  width: 100%;
}

.location {
  display: flex;
  flex-direction: column;
  height: 40px;
  padding-left: 10px;
  width: 100%;
  text-align: left;
}

.where {
  margin: 0;
  font-family: RlBasisGrotesque, Avenir, Helvetica Neue, Helvetica, sans-serif;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0;
  line-height: 16px;
  text-transform: none;
}

.location input {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  border: 0;
  text-align: start;
  cursor: pointer;
}

.from--until {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  padding-left: 10px;
  height: 40px;
}

.from,
.to {
  display: flex;
  flex-direction: column;
  border-left: 1px solid #c7c7c7;
  text-align: left;
  padding-left: 13px;
  padding-right: 14px;

  p {
    margin: 0;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 0;
    line-height: 16px;
    text-transform: none;
    font-family: RlBasisGrotesque, Avenir, Helvetica Neue, Helvetica, sans-serif;
  }

  input {
    border: 0;
    line-height: 1.5;
    font-size: 16px;
    color: rgb(18, 18, 20);
    margin-bottom: -1px;
    font-weight: 500;
    cursor: pointer;
  }
}

.search--btn {
  border: 0;
  .search--submit {
    background: #593cfb;
    border: none;
    border-radius: 50%;
    height: 40px;
    width: 40px;
    cursor: pointer;
    display: block;
    flex-shrink: 0;
    outline: 0;
  }
}

.find--car--text {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-top: 40px;
  gap: 16px;
  margin-bottom: 16px;
  p1 {
    font-family: RlFreight, HoeflerText-Black, Times New Roman, serif;
    font-size: 90px;
    font-weight: 900;
    letter-spacing: -1px;
    line-height: 90px;
    text-transform: none;
    color: #121214;
  }

  p2 {
    font-family: RlBasisGrotesque, Avenir, Helvetica Neue, Helvetica, sans-serif;
    font-size: 32px;
    font-weight: 900;
    letter-spacing: -0.2px;
    line-height: 32px;
    text-transform: none;
    margin-top: 10px;
  }
}

.browse--by--make {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 60px;
  margin-bottom: 60px;
}

.make--components {
  width: 61vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.make--header {
  width: 100%;
  height: 40px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 16px;
  padding: 8px;

  p {
    font-family: RlBasisGrotesque, Avenir, Helvetica Neue, Helvetica, sans-serif;
    font-size: 21px;
    font-weight: 900;
    letter-spacing: -0.2px;
    line-height: 28px;
    text-transform: none;
    color: #121214;
  }
}

.make--btns {
  display: flex;
  flex-direction: row;

  .make--left,
  .make--right {
    height: 40px;
    width: 40px;
    background: none;
    border: none;
    cursor: pointer;
  }
}

.make--left:active,
.make--right:active {
  background-color: rgba(223, 223, 223, 0.704);
  border-radius: 10px;
}

.make--body {
  display: flex;
  flex-direction: row;
  padding: 10px;
  flex-wrap: nowrap;
  margin-left: 18px;
  width: 100%;
  align-items: center;
  text-decoration: none;
  overflow-x: scroll;
  scroll-behavior: smooth;
  border-radius: 18px;
  box-shadow: inset 0px 0px 15px 2px rgba(0, 0, 0, 0.1);

  -webkit-scrollbar {
    display: none;
  }

  scrollbar-width: none;
  -ms-overflow-style: none;
}

#experience {
  .make--body {
    width: 63.4vw;
  }
}

#make {
  .make--body {
    width: 60.6vw;
  }
}

.make--body::-webkit-scrollbar {
  display: none;
}

.car--host {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;

  .contents {
    position: absolute;
  }

  .book--car,
  .become--host {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 250px;
    margin-bottom: 16px;

    .chtext {
      display: flex;
      flex-direction: column;
      text-align: center;
      width: 250px;
    }
  }

  a {
    font-size: 28px;
    text-decoration: none;
    color: #593cfb;
    margin-bottom: 10px;
    font-weight: 900;
    text-align: center;
  }

  p {
    color: #121214;
    font-size: 16px;
    margin-top: 8px;
    font-weight: 400;
    width: 250px;
    text-align: center;
  }
}

.book--car {
  margin-left: -100%;
  .chtext {
    margin-top: 40%;
  }
}

.become--host {
  .chtext {
    margin-top: 20%;
  }
  margin-left: 80%;
  margin-top: 10%;
}

.chtext a:hover {
  text-decoration: underline;
}
